<h1 mat-dialog-title>Game Invitation</h1>

<form [formGroup]="newDirectorForm" (ngSubmit)="closeDialog()">
  <mat-dialog-content>
    <p> A User by the name of {{senderName}} has sent you a request for a game. Will you accept?</p>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button 
      value="true" 
      (click)="respondToInvite(this.value)" 
      color="green"
    >Yes</button>
    <button mat-raised-button 
      value="false" 
      (click)="respondToInvite(this.value)" 
      color="red">No</button>
  </mat-dialog-actions>
</form>
